<div class="container col-sm-6">
    <h1 class="display-3">Inicio de sesión</h1>
    <hr class="my-2">
    <form>
        <div class="form-group row">
            <label for="UserName" class="col-sm-4 col-form-label">Nombre de usuario</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="UserName" placeholder="Ingrese su usuario">
            </div>
        </div>
        <div class="form-group row">
            <label for="Password" class="col-sm-4 col-form-label">Contraseña</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="Password" placeholder="Ingrese su contraseña">
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary">Iniciar Sesión</button>
    </form>
</div>